In [10]:
import numpy as np
import pandas as pd
from io import BytesIO
from pymongo import MongoClient
import boto3
from io import StringIO 
import os

## Conexão MinIO

In [2]:
client = boto3.client('s3', 
    endpoint_url='http://localhost:9000',
    aws_access_key_id='fgn3z6vLkHIt2wQT',
    aws_secret_access_key='PWDU43WWbelBz2vUF0Hbi1JZ47mR8Moy',
    aws_session_token=None,
    config=boto3.session.Config(signature_version='s3v4'),
    verify=False,
    region_name='sa-east-1'
)

## Conexão MongoDB

In [3]:
client_mongodb =  MongoClient("mongodb://root:rootpassword@localhost:27017/?serverSelectionTimeoutMS=5000&connectTimeoutMS=10000&authSource=admin&authMechanism=SCRAM-SHA-256")
# client_mongodb.server_info()

#### 1. Ler os datasets em /exercicios/municipios-estados

In [4]:
df = pd.read_json(r'..\GitHub\awari-engenharia-de-dados-docker\jupyter-notebooks\arquivos\estados.json')

In [5]:
df_estados = pd.read_csv(r'..\GitHub\awari-engenharia-de-dados-docker\exercicios\municipios-estados\csv\estados.csv')
df_municipios = pd.read_csv(r'..\GitHub\awari-engenharia-de-dados-docker\exercicios\municipios-estados\csv\municipios.csv')

In [6]:
df_municipios.head()

,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,siafi_id,ddd,fuso_horario
0,5200050,Abadia de Goiás,-16.75730,-49.4412,0,52,1050,62,America/Sao_Paulo
1,3100104,Abadia dos Dourados,-18.48310,-47.3916,0,31,4001,34,America/Sao_Paulo
2,5200100,Abadiânia,-16.19700,-48.7057,0,52,9201,62,America/Sao_Paulo
3,3100203,Abaeté,-19.15510,-45.4444,0,31,4003,37,America/Sao_Paulo
4,1500107,Abaetetuba,-1.72183,-48.8788,0,15,401,91,America/Sao_Paulo

In [7]:
df_estados.head()

   codigo_uf  uf      nome  latitude  longitude regiao
0         11  RO  Rondônia    -10.83     -63.34  Norte
1         12  AC      Acre     -8.77     -70.55  Norte
2         13  AM  Amazonas     -3.47     -65.10  Norte
3         14  RR   Roraima      1.99     -61.33  Norte
4         15  PA      Pará     -3.79     -52.48  Norte

##### 2. Criar uma pasta nomeada com a sigla da UF para cada estado 
##### 3. Organizar e salvar as cidades por estado um único arquivo CSV, nomeado como cidades.csv;
##### 4. Importar as pastas e arquivos salvos para um bucket no MinIO.;

In [20]:
os.mkdir('.\\estados')

In [21]:
for index,uf in df_estados.iterrows():    
    df_mun_by_uf = df_municipios[df_municipios.codigo_uf == uf.codigo_uf]


    if not os.path.exists(f'.\\estados\\{uf.uf}'):
        os.mkdir(f'.\\estados\\{uf.uf}')
        
    df_mun_by_uf.to_csv(f'.\\estados\\{uf.uf}\\cidades.csv')

    csv_buffer = StringIO()
    csv = df_mun_by_uf.to_csv(csv_buffer)
    client.put_object(Body=csv_buffer.getvalue(), Bucket='aula-06', Key=f'estados/{uf.uf}/cidades.csv')

#### 5. Exportar os dados para o MongoDB e visualizá-los a partir do banco de dados.

In [86]:
df_bucket_content = pd.DataFrame.from_dict(client.list_objects_v2(Bucket='aula-06',Prefix = 'estados')['Contents'])

In [88]:
db = client_mongodb['estados']

for file in df_bucket_content.Key:
    print(file.split(r'/')[-2])
    if file.split(r'/')[0] == 'estados':
        obj = client.get_object(
            Bucket='aula-06', 
            Key=file
        ).get("Body")

        data = pd.read_csv(obj)

        collection = db[file.split(r'/')[-2]]

        data.reset_index(inplace=True)
        data_dict = data.to_dict("records")

        collection.insert_many(data_dict)
        print('ok')
    else:
        continue

AC
ok
AL
ok
AM
ok
AP
ok
BA
ok
CE
ok
DF
ok
ES
ok
GO
ok
MA
ok
MG
ok
MS
ok
MT
ok
PA
ok
PB
ok
PE
ok
PI
ok
PR
ok
RJ
ok
RN
ok
RO
ok
RR
ok
RS
ok
SC
ok
SE
ok
SP
ok
TO
ok