In [2]:
import numpy as np
import pandas as pd
from io import BytesIO
from pymongo import MongoClient
import boto3
from io import StringIO

## Conexão MinIO

In [38]:
client = boto3.client('s3', 
    endpoint_url='http://localhost:9000',
    aws_access_key_id='fgn3z6vLkHIt2wQT',
    aws_secret_access_key='PWDU43WWbelBz2vUF0Hbi1JZ47mR8Moy',
    aws_session_token=None,
    config=boto3.session.Config(signature_version='s3v4'),
    verify=False,
    region_name='sa-east-1'
)

## Conexão MongoDB

In [65]:
client_mongodb =  MongoClient("mongodb://root:rootpassword@localhost:27017/?serverSelectionTimeoutMS=5000&connectTimeoutMS=10000&authSource=admin&authMechanism=SCRAM-SHA-256")
# client_mongodb.server_info()

{'version': '8.0.3',
 'gitVersion': '89d97f2744a2b9851ddfb51bdf22f687562d9b06',
 'modules': [],
 'allocator': 'tcmalloc-google',
 'javascriptEngine': 'mozjs',
 'sysInfo': 'deprecated',
 'versionArray': [8, 0, 3, 0],
 'openssl': {'running': 'OpenSSL 3.0.13 30 Jan 2024',
  'compiled': 'OpenSSL 3.0.13 30 Jan 2024'},
 'buildEnvironment': {'distmod': 'ubuntu2404',
  'distarch': 'x86_64',
  'cc': '/opt/mongodbtoolchain/v4/bin/gcc: gcc (GCC) 11.3.0',
  'ccflags': '-Werror -include mongo/platform/basic.h -ffp-contract=off -fasynchronous-unwind-tables -g2 -Wall -Wsign-compare -Wno-unknown-pragmas -Winvalid-pch -gdwarf-5 -fno-omit-frame-pointer -fno-strict-aliasing -O2 -march=sandybridge -mtune=generic -mprefer-vector-width=128 -Wno-unused-local-typedefs -Wno-unused-function -Wno-deprecated-declarations -Wno-unused-const-variable -Wno-unused-but-set-variable -Wno-missing-braces -Wno-psabi -fstack-protector-strong -gdwarf64 -Wa,--nocompress-debug-sections -fno-builtin-memcmp -Wimplicit-fallthrough=5',
  'cxx': '/opt/mongodbtoolchain/v4/bin/g++: g++ (GCC) 11.3.0',
  'cxxflags': '-Woverloaded-virtual -Wpessimizing-move -Wno-maybe-uninitialized -fsized-deallocation -std=c++20',
  'linkflags': '-Wl,--fatal-warnings -B/opt/mongodbtoolchain/v4/bin -gdwarf-5 -pthread -Wl,-z,now -fuse-ld=lld -fstack-protector-strong -gdwarf64 -Wl,--build-id -Wl,--hash-style=gnu -Wl,-z,noexecstack -Wl,--warn-execstack -Wl,-z,relro -Wl,--compress-debug-sections=none -Wl,-z,origin -Wl,--enable-new-dtags',
  'target_arch': 'x86_64',
  'target_os': 'linux',
  'cppdefines': 'SAFEINT_USE_INTRINSICS 0 PCRE2_STATIC ABSL_ALLOCATOR_NOTHROW NDEBUG _XOPEN_SOURCE 700 _GNU_SOURCE _FORTIFY_SOURCE 2 ABSL_FORCE_ALIGNED_ACCESS BOOST_ENABLE_ASSERT_DEBUG_HANDLER BOOST_FILESYSTEM_NO_CXX20_ATOMIC_REF BOOST_LOG_NO_SHORTHAND_NAMES BOOST_LOG_USE_NATIVE_SYSLOG BOOST_LOG_WITHOUT_THREAD_ATTR BOOST_MATH_NO_LONG_DOUBLE_MATH_FUNCTIONS BOOST_SYSTEM_NO_DEPRECATED BOOST_THREAD_USES_DATETIME BOOST_THREAD_VERSION 5'},
 'bits': 64,
 'debug': False,
 'maxBsonObjectSize': 16777216,
 'storageEngines': ['devnull', 'wiredTiger'],
 'ok': 1.0}

#### 1. Ler os datasets em /exercicios/municipios-estados

In [7]:
df = pd.read_json(r'..\GitHub\awari-engenharia-de-dados-docker\jupyter-notebooks\arquivos\estados.json')

In [16]:
df_estados = pd.read_csv(r'..\GitHub\awari-engenharia-de-dados-docker\exercicios\municipios-estados\csv\estados.csv')
df_municipios = pd.read_csv(r'..\GitHub\awari-engenharia-de-dados-docker\exercicios\municipios-estados\csv\municipios.csv')

In [70]:
df_municipios.head()

,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,siafi_id,ddd,fuso_horario
0,5200050,Abadia de Goiás,-16.75730,-49.4412,0,52,1050,62,America/Sao_Paulo
1,3100104,Abadia dos Dourados,-18.48310,-47.3916,0,31,4001,34,America/Sao_Paulo
2,5200100,Abadiânia,-16.19700,-48.7057,0,52,9201,62,America/Sao_Paulo
3,3100203,Abaeté,-19.15510,-45.4444,0,31,4003,37,America/Sao_Paulo
4,1500107,Abaetetuba,-1.72183,-48.8788,0,15,401,91,America/Sao_Paulo

In [71]:
df_estados.head()

   codigo_uf  uf      nome  latitude  longitude regiao
0         11  RO  Rondônia    -10.83     -63.34  Norte
1         12  AC      Acre     -8.77     -70.55  Norte
2         13  AM  Amazonas     -3.47     -65.10  Norte
3         14  RR   Roraima      1.99     -61.33  Norte
4         15  PA      Pará     -3.79     -52.48  Norte

##### 2. Criar uma pasta nomeada com a sigla da UF para cada estado Importar as pastas e arquivos salvos para um bucket no MinIO.;

In [85]:
for index,uf in df_estados.iterrows():    
    df_mun_by_uf = df_municipios[df_municipios.codigo_uf == uf.codigo_uf]

    csv_buffer = StringIO()
    csv = df_mun_by_uf.to_csv(csv_buffer)
    client.put_object(Body=csv_buffer.getvalue(), Bucket='aula-06', Key=f'estados/{uf.uf}/cidades.csv')

#### Exportar os dados para o MongoDB e visualizá-los a partir do banco de dados.

In [86]:
df_bucket_content = pd.DataFrame.from_dict(client.list_objects_v2(Bucket='aula-06',Prefix = 'estados')['Contents'])

In [88]:
db = client_mongodb['estados']

for file in df_bucket_content.Key:
    print(file.split(r'/')[-2])
    if file.split(r'/')[0] == 'estados':
        obj = client.get_object(
            Bucket='aula-06', 
            Key=file
        ).get("Body")

        data = pd.read_csv(obj)

        collection = db[file.split(r'/')[-2]]

        data.reset_index(inplace=True)
        data_dict = data.to_dict("records")

        collection.insert_many(data_dict)
        print('ok')
    else:
        continue

AC
ok
AL
ok
AM
ok
AP
ok
BA
ok
CE
ok
DF
ok
ES
ok
GO
ok
MA
ok
MG
ok
MS
ok
MT
ok
PA
ok
PB
ok
PE
ok
PI
ok
PR
ok
RJ
ok
RN
ok
RO
ok
RR
ok
RS
ok
SC
ok
SE
ok
SP
ok
TO
ok